// <<nav-menu

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $dark-main-color;

  transition: color $timing-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.active {
  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.menu-nav {
  display: flex;
  margin-left: 85px;
}

.menu-nav .item + .item {
  margin-left: 50px;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
