.overlay {
  @include centredFlex;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  /* background-image: url(../images/Header-img.jpg); */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-top: 0;
  margin-bottom: 30px;
}

.order {
  /* margin-top: 350px;
    margin-bottom: 200px;
    margin-left: 700px;
    margin-right: 700px; */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  text-transform: none;
}
