.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity $timing-animation;

  width: 100%;
  height: 100%;

  background-color: $backdrop-modal-color;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  /* позиція */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;

  /* геометрія */
  min-width: 528px;
  min-height: 581px;
  padding: 40px 39px 40px 41px;

  /* текст */

  /* все інше */
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin: 40px 39px 40px 41px; */
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-white-color;
  cursor: pointer;
}

.icon-close {
  fill: var(--color5, $dark-main-color);

  transition: fill $timing-animation;
}

.modal-close:focus .icon-close,
.modal-close:hover .icon-close {
  --color5: #2196f3;
}

.form-title {
  display: inline-block;
  margin: 0 0 30px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $dark-main-color;
}

/* .js-form textarea {
    resize: both;
    width: 448px;
    height: 120px;
  } */

.agreement-terms {
  margin-left: 2px;

  text-decoration-line: underline;
  color: $accent-color;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(42px);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;

  transition: $timing-animation;
}

.form-label-2 {
  position: absolute;
  top: 22px;
  left: 16px;
  transform: translateY(-50%);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;

  /* pointer-events: none; */

  transition: $timing-animation;
}

.form-input:not(:placeholder-shown) ~ .form-label-2,
.form-input:focus ~ .form-label-2 {
  transform: translateY(-42px);
  /* color: $text-color; */
}

.comment.form-input {
  padding-left: 16px;
}

.form-input {
  padding: 12px 18px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  /* box-sizing: border-box; */
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;

  transition: $timing-animation;
}

.form-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $text-color;
}

.form-input:focus ~ .icon {
  --color4: #2196f3;
}

.form-input:focus {
  outline: none;
  border-color: $accent-color;
  --color4: #2196f3;
}

.form-input:not(:placeholder-shown) ~ .form-label,
.form-input:focus ~ .form-label {
  transform: translateY(-42px) translateX(16px);
  /* --color4: $accent-color; */
  /* color: $text-color; */
}

.group-form-fields {
  margin-bottom: 20px;
}

.policy-field {
  margin: 0px 12px 30px 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;

  /* transition: all $timing-animation; */
}

.checkbox-field,
.checkbox-label {
  display: inline-flex;
  align-items: center;
}

/* .checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    position: absolute;
  } */

.checkbox ~ .checkbox-label:before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid $dark-main-color;
  border-radius: 3px;
  margin-right: 8px;
  flex-shrink: 0;
  transition: $timing-animation;
}

.checkbox:checked ~ .checkbox-label:before {
  background-color: $accent-color;
  border-color: transparent;
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form-field:focus-within * {
  /* меняет также цвет текста интпут */
  color: $accent-color;
  /* --color4: $accent-color; */
}

.icon {
  position: absolute;

  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  fill: var(--color4, $dark-main-color);

  transition: fill $timing-animation;
}

.button[type='submit'] {
  /* display: inline-block; */
  display: flex;
  align-items: center;

  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  /* border: 1px solid transparent; */
  padding: 10px 55px;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border: none;
}
